{
  "*.{js,jsx,ts,tsx}": [
    "eslint --cache . --cache-location .next/cache/eslint/ --fix ./src --config .eslintrc --ignore-path .eslintignore",
    "prettier --write . --ignore-path .prettierignore --config .prettierrc"
  ]
}
